// Font
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// Variables
$strong-cyan: hsl(172, 67%, 45%);
$dark-cyan: hsl(183, 100%, 15%);
$darkest-gray-cyan: hsl(186, 14%, 43%);
$dark-gray-cyan: hsl(184, 14%, 56%);
$light-gray-cyan: hsl(185, 41%, 84%);
$lightest-gray-cyan: hsl(189, 41%, 97%);
$white: #fff;
$error: #eb4d4b;

// RESET
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.attribution {
    font-size: 11px; 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

.container {
    width: 100%;
    height: 100vh;
    background-color: $light-gray-cyan;
    display: flex;
    flex-direction: column;

    .logo {
        margin: auto;
        margin-bottom: -150px;
    }

    .tipCalc {
        width: 800px;
        height: 400px;
        background-color: $white;
        margin: auto;
        border-radius: 20px;
        display: flex;
        padding: 30px;
        gap: 0 40px;

        .tipInputs {
            padding: 10px 0 10px 0px;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;

            .bill-input-section {
                position: relative;

                &:before {
                    content: 'Bill';
                    font-size: 13px;
                    font-weight: bold;
                    color: $darkest-gray-cyan;
                }
                
                object {
                    position: absolute;
                    top: 35px;
                    left: 15px;
                    width: 15px;
                    height: 15px;
                }

            }
            .bill-input, .people-number-input{
                width: 100%;
                height: 40px;
                border: none;
                background-color: $lightest-gray-cyan;
                text-align: end;
                outline-color: $strong-cyan;
                padding: 0 20px;
                font-size: 20px;
                font-weight: bold;
                color: $dark-cyan;
                cursor: pointer;
            }

            .select-tip-section {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                position: relative;

                &:before {
                    content: 'Select Tip %';
                    position: absolute;
                    top: -30px;
                    font-size: 13px;
                    font-weight: bold;
                    color: $darkest-gray-cyan;
                }

                .tip-rate {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 31.3%;
                    height: 40px;
                    background-color: $dark-cyan;
                    border-radius: 5px;
                    color: $white;
                    font-size: 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: $strong-cyan;
                        color: $dark-cyan;
                        font-weight: bold;
                    }
                }

                .custom-tip-rate {
                    width: 31.3%;
                    border-radius: 5px;
                    border: none;
                    background-color: $lightest-gray-cyan;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    outline-color: $strong-cyan;

                    &::placeholder {
                        color: $dark-gray-cyan;
                        font-weight: bold;
                        font-size: 20px;
                        text-align: center;

                    }
                }
            }
            .people-number-section {
                position: relative;

                .people-number-error {
                    position: absolute;
                    font-size: 13px;
                    font-weight: bold;
                    color: $error;
                    top: -30px;
                    right: 0;
                    display: none;
                }

                object {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    width: 15px;
                    height: 15px;
                }

                &:before {
                    content: 'Number of People';
                    position: absolute;
                    top: -30px;
                    color: $darkest-gray-cyan;
                    font-size: 13px;
                    font-weight: bold;

                }
            }
        }

        .tipOutput {
            box-sizing: border-box;
            flex: 1;
            background-color: $dark-cyan;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .results{
                margin: 30px;
                display: flex;
                flex-direction: column;
                gap: 30px 0;

                .tipAmnt, .total {
                    display: flex;
                    justify-content: space-between;

                    .tip-amnt-text {
                        flex: 1;
                        color: $light-gray-cyan;
                        font-weight: bold;
                        position: relative;

                        &:after {
                            content: '/ person';
                            position: absolute;
                            top: 25px;
                            left: 0;
                            font-size: 12px;
                            color: $dark-gray-cyan;
                        }
                    }

                    .tip-amnt-value {
                        margin-top: -8px;
                        font-size: 40px;
                        color: $strong-cyan;
                        font-weight: bold;

                        &:before {
                            content: '$';
                        }
                    }
                }

            }

            button {
                margin: 30px;
                height: 40px;
                font-weight: bold;
                border-radius: 5px;
                border: none;
                background-color: $strong-cyan;
                color: $dark-cyan;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: $light-gray-cyan;
                }
            }

        }
    }
}

@media screen and (max-width: 830px) {

    .logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0 !important;
    }

    .tipCalc {
        flex-direction: column;
        width: 100% !important;
        flex: 5;
        gap: 40px 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        .tipInputs {
            flex: 2 !important;

            .bill-input-section {
                
                &:before {
                    font-size:16px !important;
                }
                
                object  {
                    top: 36px !important;
                    width: 18px !important;
                    height: 18px !important;
                }

            }

            .select-tip-section {
                gap: 15px !important;
                &:before {
                    font-size: 16px !important;
                    top: -30px !important;
                }

                .tip-rate {
                    height: 50px !important;
                    font-size: 22px !important;
                }

                .custom-tip-rate {
                    font-size: 22px !important;

                    &::placeholder {
                        font-size: 22px !important;
                    }
                }
            }

            .people-number-section {

                &:before {
                    font-size: 16px !important;
                    top: -30px !important;
                }

                object {
                    top: 13px !important;
                    width: 18px !important;
                    height: 18px !important;
                }
            }
            
            .bill-input, .people-number-input{
                height: 45px !important;
                font-size: 30px !important;
            
            }
        }

        .tipOutput {
            flex: 1 !important;

            .results {

                .tip-amnt-text {
                    font-size: 15px !important;
                    
                    &:after {
                        font-size: 12px !important;
                        top: 25px !important;
                    }
                }

                .tip-amnt-value {
                    font-size: 34px !important;
                }
            }
        }

        button {
            margin-top: 0 !important;
            height: 45px !important;
            font-size: 20px !important;
        }
    }
}


@media screen and (max-width: 537px) {
   
    
    .tipCalc {
        gap: 20px 0 !important;
        .tipInputs {
            .select-tip-section {
                .tip-rate, .custom-tip-rate {
                    width: 45% !important;
                }

            }
        }
    }


}